@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

:root {
    --darktext: hsl(223, 47%, 23%);
    --lighttext: hsl(224, 23%, 55%);
    --purple: rgb(55, 51, 225);
    --lightpurple: rgb(105, 103, 223);
    --lightblue: hsl(225, 100%, 94%);
    --palestblue: hsl(225, 31%, 95%);
}

body {
    background-color: var(--lightblue);
    background-image: url("/public/images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display', sans-serif;
}

@media (max-width: 768px) {
    body {
        background-image: url("/public/images/pattern-background-mobile.svg");
    }
}

h1, p {
    margin: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.card {
    margin: 4rem auto 0;
    width: 90%;
    max-width: 370px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
    line-height: 1.7;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .card {
        margin: 2rem auto 0;
    }
}

.hero-imgcontainer img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card .content-wrapper {
    padding: 2rem;
}

.content-wrapper h1, .plans-title {
    color: var(--darktext);
}

.content-wrapper h1 {
    margin-bottom: 1rem;
}

.content-wrapper .description {
    color: var(--lighttext);
    font-weight: 500;
    font-size: 0.95rem;
}

.plans {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 1rem;
    align-items: center;
    background: var(--palestblue);
    margin: 2rem 0;
    padding: 10px;
    border-radius: 10px;
}

.plans-text, .plans-link {
    font-size: .9rem;
}

.plans-title {
    font-weight: bold;
}

.plans-price {
    color: var(--lighttext);
    font-weight: 500;
}

.plans-link {
    justify-self: flex-end;
    color: var(--purple);
    font-weight: bold;
}

.plans-link:hover {
    text-decoration: none;
    color: var(--lightpurple);
}

button {
    border: none;
    font-family: inherit;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    flex-direction: column;
}

.btn--purple {
    position: relative;
    background: var(--purple);
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-radius: 10px;
    height: 45px;
    margin-bottom: 10px;
    box-shadow: 0px 15px 20px -15px rgb(64, 82, 97);
}

.btn--purple:hover {
    background: var(--lightpurple);
    box-shadow: 0px 15px 20px -15px rgb(26, 33, 39);
}

.btn--transparent {
    background: transparent;
    height: 45px;
    color: var(--lighttext);
}

.btn--transparent:hover {
    color: var(--darktext);
    font-weight: bold;
}

.attribution {
    text-align: center;
    margin-top: 4rem;
}